<h1>Dashboard</h1>

<h3>My Animals</h3>
<% @animals.each do |animal|%>
  <div>
    <h4> <%= animal.nom %> </h4>
    <p> Espèce: <%= animal.especes %> </p>
    <p> Age: <%= animal.age %> years</p>
    <p> Localisation: <%= animal.localisation %> </p>
    <p> Prix: <%= animal.prix %> $</p>
  </div>
<% end %>

<%= link_to 'Create animal', new_animal_path %>

<h3> Reservations </h3>
<% if @reservations.any? %>
  <% @reservations.each do |reservation|%>
    <div>
    <h4>Animal: <%= reservation.animal.nom %></h4>
    <p>Species: <%= reservation.animal.especes %></p>
    <p>Age: <%= reservation.animal.age %> years</p>
    <p>Location: <%= reservation.animal.localisation %></p>
    <p>Price: <%= reservation.animal.prix %> $</p>
    <p>Start Date: <%= reservation.date_debut %></p>
    <p>End Date: <%= reservation.date_fin %></p>
    <p>Status: <%= reservation.statut %></p>
  </div>
  <%end%>
<% else %>
  <p>Vous n'avez aucune réservation.</p>
<%end%>
